.header {
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 1000;

    .logo {
      width: 200px;
      height: 70px;
      padding-left: 110px;
    }
}

.header-nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-right: 135px;
}

@media (min-width: 768px) {
  .header {
    height: 70px;

    .logo {
      height: 100px;
      width: 240px;
    }
  }
}
  