.collection-item {
    display: flex;
    flex-direction: column;
    height: 330px;
    padding-bottom: 20px;
    
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
    }

    .collection-footer {
       text-align: center;

       .name {
           margin: 2px 0 0 0;
       }
       .description {
           margin: 0 0 2px 0;
       }
       .price {
           margin: 0;
       }
    }
}

@media (min-width: 768px) {
  .collection-item {
    height: 500px;
  }

  .name {
    font-size: 34px;
  }

  .description {
    font-size: 27px;
  }
  
  .price {
    font-size: 27px;
  }
}